<% set_page_title "About" %>
<h4 class="page-header">About CCUOJ <small>CCUPC X DS Online Judge <%= Tioj::VERSION %></small></h4>
<h5>Site Info</h5>
<div class="well">
This site is powered by Ruby on Rails! <br >
使用 開源的 TIOJ 系統作為核心，並加以修改以符合本系統需求。 <br >
TIOJ Github Repo: <a href="https://github.com/TIOJ-INFOR-Online-Judge/tioj">https://github.com/TIOJ-INFOR-Online-Judge/tioj</a> <br>
Judge System Github Repo: <a href="https://github.com/TIOJ-INFOR-Online-Judge/tioj-judge">https://github.com/TIOJ-INFOR-Online-Judge/tioj-judge</a> <br>
Still in development, any issues or pull requests are welcomed. <br >
</div>

<h4>History</h4>
<h5>2024.3</h5>
<div class="well">
正式版網頁上線，整理歷屆中正競程題目，作為練習平台。
</div>